<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/023b2039-5c23-44b8-844e-c002f8ed431d/resourcegroups/RG-ACA/providers/Microsoft.ContainerRegistry/registries/acarepo</ResourceId>
    <ResourceName>acarepo</ResourceName>
    <ResourceGroup>RG-ACA</ResourceGroup>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <RegistryUrl>https://acarepo.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3cd58a60-6fd9-40e4-b937-1fb3accb4230</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>